<table>
  <colgroup span="4"></colgroup>
  <tr>
    <th>Name</th>
    <th>Sex</th>
    <th>Color</th>
    <th>Birth Date</th>
  </tr>
  <tr>
    <td> <%= @cat.name %></td>
    <td> <%= @cat.sex %></td>
    <td> <%= @cat.color %></td>
    <td> <%= @cat.birth_date %></td>
  </tr>
</table>
